@model List<avto.DataBase.Car>

<h2>Автомобили</h2>
<table class="styled-table">
    <thead>
        <tr>
            <th>Модель</th>
            <th>Год</th>
            <th>VIN</th>
            <th>Цена</th>
            <th>Категория</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var car in Model)
        {
            <tr>
                <td>@car.Model</td>
                <td>@car.Year</td>
                <td>@car.Vin</td>
                <td>@car.Price</td>
                <td>@car.Category</td>
            </tr>
        }
    </tbody>
</table>
<style>


.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 18px;
    text-align: left;
    background-color: #222;
    color: #fff;
    border-radius: 8px;
    overflow: hidden;
}

.styled-table thead tr {
    background-color: #333;
    color: #fff;
    text-align: left;
    font-weight: bold;
}

.styled-table th, .styled-table td {
    padding: 20px 25px;  /* Увеличены отступы внутри ячеек */
    border: 1px solid #444;
}

.styled-table tbody tr {
    border-bottom: 1px solid #444;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #2a2a2a;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #333;
}

.styled-table tbody tr:hover {
    background-color: #444;
    cursor: pointer;
}
</style>